<aside class="p-3 w-3xs flex flex-col gap-4">
  <h4 class="opacity-50 font-bold uppercase">Categories ({{ total() }})</h4>
  <ul class="category-menu">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        All Posts
      </a>
    </li>
    @for (cat of categories(); track $index) {
    <li>
      <a
        [routerLink]="'/category/' + cat.id"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ cat.title }}
      </a>
      @if (cat.categories.length) {
      <ul>
        @for (subCat of cat.categories; track $index) {
        <li>
          <a
            [routerLink]="'/category/' + subCat.id"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ subCat.title }}
          </a>
        </li>
        }
      </ul>
      }
    </li>
    }
  </ul>
</aside>
